<div>
    <form class="cardBody create-form" id="createPost">
        <h2>Create A New Post</h2>
            <div class="titleCreate">
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" placeholder="title">
            </div>
            <div>
                <label class="textCreate" for="text">Text</label>
                <textarea id="text" name="text"></textarea>
            </div>
        <button type="submit" class="btn">Create Post</button>
    </form>
</div>

<script src="/js/createPost.js"></script>
<div class="myPosts">
<h3>My Posts</h3>
{{#if posts}}
    {{#each posts as |post|}}
    <div class="selectPost">
        <a href="/post/{{id}}"><span>{{title}} on {{format_date createdAt}}</span></a>
        <a href="/edit/{{id}}" class="editThis"><span>edit this post</span></a>
    </div>
    {{/each}}
{{/if}}
</div>
