<article class="edPost">
    <h2>
        Edit or Delete Your Post
    </h2>
    <h3>
       {{post.title}}
    </h3>
    <form class="editPost">
        <input type="hidden" name="title" value="{{post.title}}" />
        <label class="form-label" for="content">Content</label>
        <textarea name="text" type="text">{{post.text}}</textarea>
        <button type="submit" class="btn">Update Post</button>
        <button type="button" class="btn delBtn">Delete post</button>
    </form>
</article>

<script src="/js/editOrDelPost.js"></script>
