</div>
  <form id="login-form" class="card-body">
    <div>
      <label for="username">Username:</label>
      <input class="PWinput" type="text" id="username" />
    </div>
    <div>
      <label for="password" class="form-label">Password:</label>
      <input class="PWinput passwordAlign" type="password" id="password" />
    </div>
    <button type="submit" class="btn">Login!</button>
    </form>
    <script src="/js/login.js"></script>
</div>