</div>
  <form class="signup-form" id="signup-form" class="cardBody">
    <div>
      <label for="signupName">Username</label>
      <input class="PWinput" type="text" id="signupName" />
    </div>
    <div>
      <label for="signupPass" class="form-label">Password</label>
      <input class="PWinput" type="password" id="signupPass" />
    </div>
    <button type="submit" class=" btn">Sign up!</button>
    </form>
    <script src="/js/signup.js"></script>
</div>