html,
body {
  margin: 0;
  height: 100%;
}
header a {
  text-decoration: auto;
  color: white;
}
header a:hover {
  color: aqua;
}
header {
  background-color: #2e0603;
  color: white;
  padding: 10px 40px;
}

button {
  background-color: #474545;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

textarea {
  width: 98%;
  height: 100px;
  padding: 12px 20px;
  margin: 8px 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

.infoCard {
  margin-left: 10%;
}
h2 a {
  text-decoration: none;
  color: black;
}

h2 a:hover {
  color: aqua;
}

#login-form,
.signup-form {
  margin-left: 10%;
}

.myPosts,
.create-form,
#newComment,
.edPost {
  margin-left: 4%;
}

.selectPost a {
  text-decoration: none;
}
.editThis {
  color: red;
}
.selectPost a:hover {
  color: aqua;
}
.PWinput {
  width: 154px;
  padding: 2px;
  border: 1px solid #030303;
  border-radius: 2px;
  margin: 8px 10px;
  box-sizing: border-box;
}
