:root {
  --hovercolor: #cc5c11;
}

html,
body {
  margin: 0;
  height: 100%;
}
header a {
  text-decoration: auto;
  color: white;
}
header a:hover {
  color: var(--hovercolor);
}
header {
  background-color: #2e0636;
  color: white;
  padding: 18px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 15px;
  font-size: large;
}

.btn {
  background-color: #474545;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
.btn:hover {
  color: var(--hovercolor);
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: var(--hovercolor);
}

textarea {
  width: 98%;
  height: 100px;
  padding: 12px 20px;
  margin: 8px 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

h2 a {
  text-decoration: none;
  color: black;
}

h2 a:hover {
  color: var(--hovercolor);
}
h3 {
  margin: 18px;
}
#login-form,
.signup-form {
  margin-left: 10%;
}

.myPosts,
.create-form,
#newComment,
.edPost {
  margin: 0 4%;
}

.selectPost a {
  text-decoration: none;
}
.editThis {
  color: red;
}
.selectPost a:hover {
  color: var(--hovercolor);
}
.PWinput {
  width: 154px;
  padding: 2px;
  border: 1px solid #030303;
  border-radius: 2px;
  margin: 8px 10px;
  box-sizing: border-box;
}
h2 {
  margin: 3px;
  text-align: center;
}
.owner {
  text-align: center;
  font-size: 14px;
}
article.infoCard {
  background-color: #e9e5e5;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid black;
  margin: 10px 8% 0;
}

.commentCard {
  margin: 3px 8% 0;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid black;
}

#logout {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  float: right;
  color: white;
}
.cardBody {
  background-color: white;
  border: 1px solid black;
  padding: 3px;
  border-radius: 5px;
  margin: 2px;
}
#logout:hover {
  color: var(--hovercolor);
}
